body {
  background-color: blue;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

h1 {
  margin: 40px 0;
}

label {
  font-weight: bold;
}

button {
  background-color: black;
  color: white;
  font-weight: bold;
  margin-top: 20px;

}